.root {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 3px;
}

.root:focus-within {
	outline: 2px solid var(--cmp-focus);
}

.input {
	flex: 1;
	width: 100%;
}

.input:focus {
	outline: none;
}
