.root {
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 6px;
	font-size: 10px;
	font-weight: 800;
	transition: background-color 300ms, color 200ms;

	border: 2px solid var(--cmp-bg);
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.selected {
	border-color: transparent;
	color: var(--cmp-select-fg);
	background-color: var(--cmp-select-bg);
}
