.root {
	display: flex;
	cursor: pointer;
	padding: 2px;
	
	transition: background-color 300ms, color 300ms;
	border-radius: 3px;
}

.root:focus {
	outline: none;
}
:global(.jack-framework-focus-ctrl) .root:focus {
	outline: 2px solid var(--cmp-focus);
}

.select {
	color: var(--cmp-select-fg);
	background-color: var(--cmp-select-bg);
}