.root {
	display: flex;
	cursor: pointer;
	padding: 2px;
	
	transition: background-color 300ms, color 300ms;
	border-radius: 3px;
}

.select {
	background-color: var(--cmp-select-bg);
	color: var(--cmp-select-fg);
}