.root {
	background-color: red;
	color: blue;
	
	--cmp-select-bg: yellow;
	--cmp-select-fg: green;
	--cmp-bg: rgba(0, 0, 0, 0.05);

	--dialog-bg: blue;
	--dialog-fg: black;
}

.root input::selection {
	background: purple;
	color: brown;
}