.root {
	background-color: red;
	color: black;
	
	--cmp-select-bg: yellow;
	--cmp-select-fg: green;
	--cmp-bg: rgba(0, 0, 0, 0.05);

	--dialog-bg: blue;
	--dialog-fg: black;
}

.root input::selection,
.root textarea::selection {
	background: yellow;
	color: black;
}


.root :global(.jack-card-dialog) {
	background-color: #AA00FF;
	color: #FF0000;
}


.root :global(.jack-cmp):global(.jack-cmp-select) {
	background-color: blue;
	color: green;
}


.root :global(.jack-cmp-float) {
	background-color: blue;
	color: green;
}
.root :global(.jack-cmp-float):global(.jack-cmp-disabled) {
	background-color: purple;
	color: black;
}



.root :global(.jack-cmp-tbl-row):global(.jack-cmp-select) {
	background-color: purple;
	color: black;
}


/**
jack-cmp
jack-cmp-dialog
jack-cmp-float
jack-cmp-button (icon button)
jack-cmp-text-input
jack-cmp-tbl-row


jack-cmp-select
jack-cmp-disabled
**/