.root {
	--card-fg: blue;
	--card-bg: rgb(34, 240, 37);
	/* button icon button */
	--cmp-select-bg: rgb(255, 0, 34);
	--cmp-select-fg: rgb(192, 62, 177);
	/* ombra perimetrale inputtext buttton */
	--cmp-bg: rgba(0, 0, 0, 0.05);

	/* tooltip drag */
	--dialog-bg: orange;
	--dialog-fg: black;
}

/* .root :global(.jack-cmp-text-input)::selection {
	background: purple;
	color: brown;
} */

/* 
.root :global(.jack-card-dialog) {
	background-color: #AA00FF;
	color: #FF0000;
} */


.root :global(.jack-cmp):global(.jack-cmp-select) {
	background-color: blue;
	color: green;
}


.root :global(.jack-cmp-float) {
	background-color: blue;
	color: green;
}
.root :global(.jack-cmp-float):global(.jack-cmp-disabled) {
	background-color: purple;
	color: black;
}
