.root {
	height: 100%;

	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;

	transition: opacity 300ms;
	border-radius: 5px;

	color: var(--card-fg);
	background-color: var(--card-bg);
	box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px 0px;
}

.iconized {
	align-items: center;
}

.linked {
	border-radius: 0px 5px 5px 0px;
	padding-left: 8px;
}

.drag {
	opacity: .5;
	border: 2px dashed white;
}



.actions {
	position: relative;
	min-height: 32px;
	padding: 3px;

	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: flex-end;

	background-color: rgb(0 0 0 / 50%);
	color: var(--text);
}

.iconized .actions {
	align-self: stretch;
	justify-content: center;

}



.children {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	transition: opacity 300ms;
}

.disabled {
	pointer-events: none;
	opacity: .5;
}

.focus {
	outline: 2px solid var(--cmp-select-bg);
}


/* EXTRAIBLE BUTTON */
.btt {
	color: var(--cmp-select-fg);
	background-color: var(--cmp-select-bg);
	position: absolute;
	border-radius: 50%;
	transition: top 300ms ease-out, opacity 200ms linear;
	top: 0px;
	opacity: 0;
}

.hovercontainer:hover .hovershow {
	top: -9px;
	opacity: 1;
}








.dialog {
	z-index: -1;
	position: absolute;
	top: 0px;
	right: 0px;
}