.root {
	display: flex;
	height: 41px;
	align-items: flex-start;
}

.root .icon {
	cursor: pointer;
	margin: 8px;
	align-self: center;
}

.root.compact {
	flex-direction: column;
}

.titleBox {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 0px;
}

.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.title.draggable {
	cursor: grab;
}

.subtitle {
	font-size: 12px;
	font-weight: 700;
	opacity: .7;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titleBox.compact {
	writing-mode: vertical-lr;
	flex-direction: column-reverse;
	align-self: center;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 5px;
	margin-right: 5px;
}