.root {
	display: flex;
	height: 100%;
}

/* indica che sta facendo un animazione */
.root.showing, .root.exiting {
	overflow-x: hidden;
}

/* se il parent sta facendo un animazione */
.root.showing .doc, .root.exiting .doc, .root.sizing .doc {
	transition: transform 300ms, width 300ms;
	/* transition-timing-function: cubic-bezier(0.000, 0.350, 0.225, 1.175); */
	transition-timing-function: cubic-bezier(0,.7,.3,1);
	
}


.resizer {
	display: flex;
	width: 5px;
	user-select: none;
	cursor: w-resize;
	margin-right: -5px;
	z-index: var(--jack-z-resizer);
}

.dialog {
	position: absolute;
	height: 100%;
}

.desk {
	margin-left: -8px;
}

