.root {
	background-color: rgb(34, 240, 37);
	color: blue;
	--select-color: yellow;
	--select-bg: green;
	--cmp-bg: rgba(0, 0, 0, 0.05);
	
	--dialog-bg: orange;
	--dialog-fg: black;
}

.root input::selection {
	background: purple;
	color: brown;
}