@keyframes jack-ani-rotation-loop {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.jack-ani-rot-loop {
	transform-origin: center;
	animation: jack-ani-rotation-loop 1s linear infinite;
}

.jack-ani-color {
	transition: color 300ms;
}





@keyframes jack-ani-loading-loop {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 40px 0;
	}
}
.jack-ani-loading {
	background: linear-gradient(45deg,
			var(--cmp-select-bg) 25%,
			color-mix(in srgb, var(--cmp-select-bg), black 15%) 25%,
			color-mix(in srgb, var(--cmp-select-bg), black 15%) 50%,
			var(--cmp-select-bg) 50%,
			var(--cmp-select-bg) 75%,
			color-mix(in srgb, var(--cmp-select-bg), black 15%) 75%,
			color-mix(in srgb, var(--cmp-select-bg), black 15%));
	background-size: 40px 40px;
	animation: jack-ani-loading-loop 3s linear infinite;
}