html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}


/**
DESCRIPTION UTILITY CLASSES

jack-card
jack-framework
jack-framework-actions
jack-framework-focus
jack-framework-focus-ctrl


jack-cmp
jack-cmp-dialog
jack-cmp-float
jack-cmp-button (icon button)
jack-cmp-text-input
jack-cmp-tbl-row

jack-cmp-txt-finder
jack-focus-[number]


jack-cmp-select
jack-cmp-disabled

**/